include
xasic
source/flex/*.c*
source/flex/*.h*
*~
\#*\#
*.o
*.d
aclocal.m4 
configure 
depcomp 
install-sh 
missing 
autom4te.cache
compile
Makefile.in
config.log
config.status
*.deps
Makefile
*.tar.gz
